<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>34A3A456-5920-407B-A239-B2A8CFEC00B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>948E4FAC-D47F-4DE6-A88B-6CBAE03C64BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>93BCBBB5-A941-4E30-903E-9FC44E1B0ADC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>948E4FAC-D47F-4DE6-A88B-6CBAE03C64BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>948E4FAC-D47F-4DE6-A88B-6CBAE03C64BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2B2DDF2-2879-420F-83DC-E702D2BB6B37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D7B3B7F8-5A61-445B-9E44-F1B4A8CBBE1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy Matthews</string>
	<key>description</key>
	<string>Upload to andymatthews.net/uploads, copy URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FTP to /uploads</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>FTP to /uploads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F2B2DDF2-2879-420F-83DC-E702D2BB6B37</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php -f ftp.php '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>948E4FAC-D47F-4DE6-A88B-6CBAE03C64BA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>34A3A456-5920-407B-A239-B2A8CFEC00B9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>FTP to /uploads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>93BCBBB5-A941-4E30-903E-9FC44E1B0ADC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D7B3B7F8-5A61-445B-9E44-F1B4A8CBBE1D</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>34A3A456-5920-407B-A239-B2A8CFEC00B9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>93BCBBB5-A941-4E30-903E-9FC44E1B0ADC</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>948E4FAC-D47F-4DE6-A88B-6CBAE03C64BA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D7B3B7F8-5A61-445B-9E44-F1B4A8CBBE1D</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F2B2DDF2-2879-420F-83DC-E702D2BB6B37</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
