<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A2SLZjFkY2NlOGJiNzBiH5Mz351ipfuwkYVELbPjCPOfXIs2O8ahYJN1YOUy8JkcrDUhKrWCHMf5foxiU7J9YL0vk9obBtgIh7jhv2NZsnqnGpYZT/xI2YjEsY+kf9V6hydXvRV4YY3KgWE5Ab4Kj4wTBMCvBoqWS2RfN+LvDbB8Nj7468AVtFVmFbXI7X9nkgRpDc6M</string>
	<key>email</key>
	<string>andy@commadelimited.com</string>
</dict>
</plist>
